[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
factory-boy = "*"
faker = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
djangorestframework-jsonp = "*"
Django= "*"
djangorestframework = "*"
requests= "*"
[dev-packages]

[requires]
python_version = "3.8"
